.search-div {
    margin: 10px 0px;
    padding: 10px 20px;
}
input[type=text]{
    width: 240px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}
.search-value{
    margin-left: 20px;
    margin-top: 10px;
}
.changeBackground{
    background-color: rgba(20, 215, 89, 0.26);
}
